---
title: Componentes - Barra de Progresso
menu_page: sidebar-componentes.erb
---
<header>
	<h1>Shortcut</h1>
	<p>Muito utilizado em nossos paineis, dando acesso rápido a interações com maiores destaques.</p>
</header>
<div class="example color-green" id="example-shortcut">
	<div class="shortcut-box row" data-embed="#example-shortcut">
		<div class="shortcuts">
			<div class="col-md-4 col-xs-4">
				<a href="#"><h2 class="shortcut-title ico-user">Cadastre seus contatos</h2></a>
			</div>
			<div class="col-md-4 col-xs-4">
				<a href="#"><h2 class="shortcut-title ico-download">Crie e Envie mensagens</h2></a>
			</div>
			<div class="col-md-4 col-xs-4">
				<a href="#"><h2 class="shortcut-title ico-flag">Acompanhe os resultados</h2></a>
			</div>
		</div>
	</div>
</div>
<pre class="lang-html linenums prettyprint-code">
	<div class="shortcut-box row">
		<div class="shortcuts">
			<div class="col-md-4 col-xs-4">
				<a href="#"><h2 class="shortcut-title ico-user">Cadastre seus contatos</h2></a>
			</div>
			<div class="col-md-4 col-xs-4">
				<a href="#"><h2 class="shortcut-title ico-download">Crie e Envie mensagens</h2></a>
			</div>
			<div class="col-md-4 col-xs-4">
				<a href="#"><h2 class="shortcut-title ico-flag">Acompanhe os resultados</h2></a>
			</div>
		</div>
	</div>
</pre>